parameters:
    level: 6

    paths:
        - commands
        - jobs
        - models

    tmpDir: %currentWorkingDirectory%/runtime

    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/yiisoft/yii2/Yii.php

    yii2:
        config_path: config/console.php
        component_generics:
            user: identityClass      # Built-in (already configured)
            repository: modelClass   # Custom generic component