body {
    font-family: verdana ,Verdana, sans-serif;
    color:#212529;
}
table {
    width: 100%; 
    border-collapse: collapse;
}
.upper_text {
    text-transform: uppercase;
}
.bold {
    font-weight: bold;
}
.number_ubderline {
    border-bottom: 0.6pt solid #000000;
}
.information_underline {
    border-bottom: 0.6pt solid #000000;
    padding-top: 1pt;
}
.title {
    white-space: nowrap;
    width: 70%;
    padding-right: 5pt;
    padding-left: 0pt !important; 
    vertical-align: bottom;
    text-align: center;
    line-height: 1.5;
    font-size: 5pt;
}
.number {
    text-align: center;
    line-height: 1.5;
    font-size: 5pt;
}
.citizen{
    margin-top: 15pt;
    margin-right: 7pt;
}
.citizen_underline {
    white-space: nowrap;
    vertical-align: bottom;
    font-size: 8pt;
    border-bottom: 0.6pt solid #808080;
    line-height: 1.5;
}
.information {
    margin-left: 6pt;
    font-size: 7pt;
}
.undertext_real {
    width: 60%;
    border-collapse: collapse;
    font-size: 7pt;
}
.hinttext {
    font-size: 5pt;
    text-align: left;
    margin-left: 50pt;
}
.table_label {
    padding-top: 1pt;
    white-space: nowrap;
    width: max-content;
    padding-right: 5pt;
    padding-left: 0px !important; 
    vertical-align: bottom; 
    font-size: 7pt;
}
.table_data {
    padding-top: 1pt;
    padding-left: 0px !important; 
    white-space: nowrap;
    border-bottom: 0.6pt solid #000000; 
    vertical-align: bottom; 
    font-size: 7pt;
}
.comment_ips {
    padding-top: 2pt;
    font-size: 6pt;
    color:#444;
    font-style: italic;
}
.worker {
    padding-top: 2pt;
}