
.current_gallery_elem{
    border:2px solid red;
}

.container{
    max-width:1800px !important;
}


.bottom_img_offet1{
    margin-top: 0px;
}
.bottom_img_offet2{
    margin-top: -300px;
}

.bottom_img_offet3{
    margin-top: -600px;
}

.bottom_img_offet4{
    margin-top: -900px;
}

.bottom_img_offet5{
    margin-top: -1200px;
}

.search_btn{
    width: 100%;
    height: 100%;
}

.ne_ravno{
    color: #cc0000;
}