
.current_gallery_elem{
    border:2px solid red;
}

/* Включаем горизонтальную прокрутку для блока таблицы */
.grid-view {
    overflow-x: auto;
    margin-bottom: 1rem;
}

.container{
    max-width:1800px !important;
}

.search_btn{
    width: 100%;
    height: 100%;
}

.ne_ravno{
    color: #cc0000;
}