RewriteEngine on

SetEnvIfExpr "'${BASE_URL}' != ''" BASE_URL=${BASE_URL}

RewriteCond %{ENV:BASE_URL} !^$
RewriteCond %{THE_REQUEST} !\s/${BASE_URL}(?:/|\s|\?) [NC]
RewriteRule ^ - [F,END]

RewriteRule ^${BASE_URL}/(.*)$ /$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [END]

php_value upload_max_filesize 200M
php_value post_max_size 200M
php_value memory_limit -1
